<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/genre.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  <title>Singer</title>
</head>
<body>
<div class="wrapper">
  <div class="wrap _container">
    <div th:include="base/navbar"></div>
    <div class="main">
      <div class="main__content">
        <div class="content__title">
          <h2>Playlists</h2>
        </div>
        <div class="content__box">
          // мои плейлисты
          <form action="/addPlaylist" method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Name of the playlist"><br>
            <input type="file" id="file"  name="file" value="Choose a picture"><br>
            <button type="submit">Add Playlist</button>
          </form>

          <form th:object="${playlist}" action="/addPlaylist" method="post">
            <div>
              <span>Choose a playlist: </span>
              <select name="select" size="1">
                <option disabled selected value="">--</option>
                <div th:each="playlist : ${playlists}">
                  <option th:value="${playlist.id}" th:text="${playlist.name}"></option>
                </div>
              </select>
            </div>
            <div>
              <span>Name of sightseeing: </span>
              <input name="titlePlace" type="text" placeholder="...">
            </div>
            <div class="form-item">
              <span>Description: </span>
              <textarea name="historyPlace" placeholder="...history of this sightseeing..."></textarea>
            </div>
            <button type="submit">Add sightseeing</button><br>
          </form>

          // все плейлисты
          <div th:each="playlist : ${playlists}">
            <p th:text="${playlist.name}"></p>
            <img th:src="'/images/' + ${playlist.images[0].id}"  alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
</html>