<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Singer</title>
</head>
<body>
    <form method="post" th:object="${singer}" enctype="multipart/form-data">
        <input th:field="${singer.id}" type="text" name="name"><br>
        <input th:field="${singer.name}" type="text" name="name"><br>
        <input type="file" id="file"  name="file" value="Choose a picture"><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>