<html xmlns:th="http://www.thymeleaf.org">
    <div id="header" class="header" th:fragment="header">
        <div class="header__content">
            <div class="header__logo">
                <a href="/"><img src="/images/svg/logo.svg" alt=""></a>
            </div>
            <nav class="header__nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/genres">Genres</a></li>
                    <li><a href="/album">Albums</a></li>
                    <li><a href="/playlist">Playlists</a></li>
                </ul>
            </nav>
            <div class="header__more">
                <span class="more__text">Try this</span>
                <div th:each="playlist : ${playlist}" class="more__link-wrap">
                    <a th:href="'/playlist/'+ ${playlist.id}">
                        <div class="link__pic">
                            <img th:src="'/playlistImages/' + ${playlist.images[0].id}" alt="">
                        </div>
                        <p th:text="${playlist.name}" class="link__text"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</html>