<html xmlns:th="http://www.thymeleaf.org">
    <div id="header" class="header" th:fragment="header">
        <div class="header__content">
            <div class="header__logo">
                <a href="/"><img src="/images/svg/logo.svg" alt=""></a>
            </div>
            <nav class="header__nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/genres">Genres</a></li>
                    <li><a href="/album">Albums</a></li>
                    <li><a href="/">Playlists</a></li>
                </ul>
            </nav>
            <div class="header__more">
                <span class="more__text">Try this</span>
                <div class="more__link-wrap">
                    <a href="">
                        <div class="link__pic">
                            <img src="/images/img/play1.png" alt="">
                        </div>
                        <p class="link__text">Mix 90's</p>
                    </a>
                </div>
                <div class="more__link-wrap">
                    <a href="">
                        <div class="link__pic">
                            <img src="/images/img/play1.png" alt="">
                        </div>
                        <p class="link__text">Mix 90's</p>
                    </a>
                </div>
                <div class="more__link-wrap">
                    <a href="">
                        <div class="link__pic">
                            <img src="/images/img/play1.png" alt="">
                        </div>
                        <p class="link__text">Mix 90's</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</html>